<component name="libraryTable">
  <library name="spring-aop-4.0.0.RELEASE-javadoc">
    <CLASSES>
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-aop-4.0.0.RELEASE.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-aspects-4.0.0.RELEASE.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-beans-4.0.0.RELEASE.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-build-src-4.0.0.RELEASE.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-context-4.0.0.RELEASE.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-context-support-4.0.0.RELEASE.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-core-4.0.0.RELEASE.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-expression-4.0.0.RELEASE.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-instrument-4.0.0.RELEASE.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-instrument-tomcat-4.0.0.RELEASE.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-jdbc-4.0.0.RELEASE.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-jms-4.0.0.RELEASE.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-messaging-4.0.0.RELEASE.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-orm-4.0.0.RELEASE.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-oxm-4.0.0.RELEASE.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-test-4.0.0.RELEASE.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-tx-4.0.0.RELEASE.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-web-4.0.0.RELEASE.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-webmvc-4.0.0.RELEASE.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-webmvc-portlet-4.0.0.RELEASE.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-websocket-4.0.0.RELEASE.jar!/" />
      <root url="file://D:/迅雷下载/commons-logging-1.1.1" />
      <root url="jar://E:/jar包/mysql-connector-java-5.0.8-bin.jar!/" />
      <root url="jar://E:/jar包/dbcp 需要的jar包/commons-dbcp.jar!/" />
      <root url="jar://E:/jar包/dbcp 需要的jar包/commons-pool.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-aop-4.0.0.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-aspects-4.0.0.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-beans-4.0.0.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-context-4.0.0.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-context-support-4.0.0.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-core-4.0.0.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-expression-4.0.0.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-instrument-4.0.0.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-instrument-tomcat-4.0.0.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-jdbc-4.0.0.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-jms-4.0.0.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-messaging-4.0.0.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-orm-4.0.0.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-oxm-4.0.0.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-test-4.0.0.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-tx-4.0.0.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-web-4.0.0.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-webmvc-4.0.0.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-webmvc-portlet-4.0.0.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-websocket-4.0.0.RELEASE-javadoc.jar!/" />
      <root url="file://D:/迅雷下载/commons-logging-1.1.1/site/apidocs" />
    </JAVADOC>
    <SOURCES>
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-aop-4.0.0.RELEASE-sources.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-aspects-4.0.0.RELEASE-sources.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-beans-4.0.0.RELEASE-sources.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-context-4.0.0.RELEASE-sources.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-context-support-4.0.0.RELEASE-sources.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-core-4.0.0.RELEASE-sources.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-expression-4.0.0.RELEASE-sources.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-instrument-4.0.0.RELEASE-sources.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-instrument-tomcat-4.0.0.RELEASE-sources.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-jdbc-4.0.0.RELEASE-sources.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-jms-4.0.0.RELEASE-sources.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-messaging-4.0.0.RELEASE-sources.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-orm-4.0.0.RELEASE-sources.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-oxm-4.0.0.RELEASE-sources.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-test-4.0.0.RELEASE-sources.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-tx-4.0.0.RELEASE-sources.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-web-4.0.0.RELEASE-sources.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-webmvc-4.0.0.RELEASE-sources.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-webmvc-portlet-4.0.0.RELEASE-sources.jar!/" />
      <root url="jar://D:/迅雷下载/spring-framework-4.0.0.RELEASE/libs/spring-websocket-4.0.0.RELEASE-sources.jar!/" />
      <root url="file://D:/迅雷下载/commons-logging-1.1.1" />
    </SOURCES>
    <jarDirectory url="file://D:/迅雷下载/commons-logging-1.1.1" recursive="false" />
    <jarDirectory url="file://D:/迅雷下载/commons-logging-1.1.1" recursive="false" type="SOURCES" />
  </library>
</component>